.App {
  text-align: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-nav {
  max-width: 90%;
}

ul.nav {
  list-style: none;
  padding: 12px;
  display: flex;
  justify-content: center;
}

.spaced-out {
  padding-top: 2%;
  display: flex;
  justify-content: center;
}

.img-button {
  margin: 0 20px;
  min-width: 90px;
}

div#count {
  font-weight: bold;
  font-style: italic;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: xx-large;
  display: flex;
  justify-content: center;
}

.nav a,
li {
  display: inline;
  padding: 1px 32px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #b0452f;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f0e8e8;
}
.App-header h2,
p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  text-align: center;
}
.App-header p {
  font-size: calc(12px + 1vmin);
}
.App-header {
  font-size: calc(72px + 2vmin);
}

.App-body {
  background-color: #7c3be4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: powderblue;
  /* justify-content: center; */
}
.App-body h1,
h2,
h3 {
  text-align: center;
}

.App-body p {
  text-align: left;
  max-width: 80%;
  padding-left: 10vmin;
  margin: 0px auto;
}

.Nav-link {
  color: #637df0;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Nav-link:hover {
  color: #b0452f;
}

.App-link {
  color: #61dafb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.visible {
  display: inline-block;
  background-color: darkmagenta;
  padding: 8px 6px;
}
.hidden {
  display: none;
}
.webForm {
  margin-top: 18px;
  display: block;
  text-align: center;
}
